{% extends 'home.html' %}

{% block content %}
<style>
    .container {
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card {
        
        background-color: white;
    }
    .signup {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .forms {
        background-color: #005a87;;
        border-radius: 10px;
        
        padding: 20px;
        color: white;
    }
    .eye-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
    }
    body {
     /* Dark background color */
        color: #ffffff; /* White text color */
        font-weight: bold;
        font-size: 18px;
        padding: 20px;
        
        background-color: #dd9860 ;
    
    }
</style>
<a style="margin-left: 5px;margin-top: 5px;background-color: #005a87;color: white;" href="{% url 'home' %}" class="btn"><i class="fa fa-home" aria-hidden="true"></i>
    Home</a> 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <form class="forms" method="POST" action="{% url 'loging' %}">
                    {% csrf_token %}
                    <h1 class="signup">Sign-in</h1>
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <p style="font-weight: lighter;">{{ message }}</p>
                    </div>
                    {% endfor %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" required>
                    </div>
                    <div class="mb-3 position-relative">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="password" required>
                        <i class="fa fa-eye eye-icon" id="togglePassword"></i>
                    </div>
                    <button style=" background-color: #0b9ee7;; font-weight: bold;font-size: 17px; color: white;" class="btn " type="submit">sign-in</button>
                    <p>Don't have an account? <a style="font-size: 16px; text-decoration: none; color: yellow;" href="{% url 'signup' %}">sign-up</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    });
</script>
{% endblock %}
