{% extends 'home.html' %}

{% block content %}
<style>
    .btn-custom {
        min-width: 200px; /* Set a minimum width for each button */
        height: 100px; /* Set a fixed height for consistency */
        font-size: 1.5rem; /* Adjust font size as needed */
        font-weight: bold;
    }
    .form-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-control {
        margin-bottom: 10px;
    }
    .back{
        margin-top: 5px;
        margin-bottom: 10px;
    }
</style>

<div class="container mt-4">
    <a class="back" href="{% url 'home' %}" class="btn btn-primary back-button">Back</a> <!-- Back button -->
<div class="container">
<div class="container">
    <div class="row">
        {% if request.user.is_authenticated and request.user.username == "ngozi" %}
        {% if month_length < 12 %}
        <div class="col-md-6 offset-md-3 form-container">
            <form method="POST" action="" class="p-4 border rounded bg-light">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="monthname" class="form-label">Month Name</label>
                    <input type="text" name="monthname" class="form-control" id="monthname" placeholder="Enter month name"/>
                </div>
                <button type="submit" class="btn btn-primary w-100">Send</button>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="row">
        {% for month in months %}
        <div class="col-md-4 mb-3">
            <a href="{% url 'contribution' month.id %}" class="btn btn-primary btn-lg btn-block text-center btn-custom">{{ month.monthname }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
