{% extends 'home.html' %}

{% block content %}
{% include 'nav-bar.html' %}
<style>
    p{
        font-weight: bold;
        
    }
    span{
        color: blue;
        font-size: 20px;
    }
</style>
<div class="container mt-4">
  <h2 class="text-center" style="font-weight: bold; color: blue;">All Users</h2>
  <div class="row">
    {% for person in users %}
    <div class="col-md-4 mb-4">
      <div class="card user-card">
        <div class="card-body">
          <h5 class="card-title">ID: {{ person.id }}</h5>
          <p class="card-text">Username: <span>{{ person.username }}</span></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
