{% load static %}
<style>
    .navbar-custom {
        
        /*background-color: #494545;*/
        background-color: rgb(48, 45, 45); /* Tomato Red */
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link,
    .navbar-custom .navbar-toggler-icon {
        color: #FFFFFF; /* White */
    }
    .navbar-custom .nav-link:hover {
        
        color: rgb(204, 200, 200) /* White */
    }

   .nav-item{
    font-size: 16px;
    
   }

    .navbar-custom .btn-outline-success {
        color: #FFFFFF; /* White */
        border-color: #FFFFFF; /* White */
    }

    .navbar-custom .btn-outline-success:hover {
        background-color: #FFC107; /* Amber */
        border-color: #FFC107; /* Amber */
    }
    .navbar-brand{
        font-weight: bolder;
        font-family:fantasy,Verdana, Geneva, Tahoma, sans-serif;
        font-size: 23px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{{images.logoimage.url}}" alt="Blengo Logo" style="height: 40px; margin-right: 10px;">
            BLENGO KITCHEN
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" aria-labelledby="profileDropdown">
                {% if user.is_authenticated %}
                    <!-- Additional authenticated user links can be placed here -->
                {% endif %}
            </ul>
            
            {% if user.is_authenticated %}
            <form class="d-flex mx-auto" method="GET" action="{% url 'home' %}">
                
                <input class="form-control me-2" type="search" placeholder="Search for products..." aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Profile dropdown -->
            
                <li class="nav-item dropdown">
                    
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        
                        <img src="{{user_profile.profileimage.url}}" class="rounded-circle" width="50" height="50" alt="{{ user.username }}'s profile picture">
                        
                    </a>
                    
                
                
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        
                        
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    
                    

                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- Additional dropdown or nav items can be added here -->
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Profile dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if images %}
                        <img src="{{images.pimage.url}}" class="rounded-circle" width="50" height="50" alt="{{ user.username }}'s profile picture">
                    </a>
                    {% endif %}
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="{% url 'loging' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'signup' %}">Sign-Up</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- Additional dropdown or nav items can be added here -->
                </li>
            </ul>
            {% endif %}
            
        </div>
    </div>
</nav>
