{% extends 'home.html' %}

{% block content %}
{% include 'nav-bar.html' %}
<style>
    .card-title {
        color: #2688f1;
        font-weight: bold;
    }

    .alert-confirmation {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    .card-img-top {
        height: 200px; /* Fixed height for images */
        object-fit: cover; /* Ensure images cover the specified height without distortion */
    }
</style>
<div class="container mt-5">
    <div class="row">
        {% for contribution in contributions %}
        {% if contribution.contributionimage %}
        
            <div class="col-md-6 mb-4">
                <div class="card">
                    <a class="btn btn-primary" href="{% url 'delete' contribution.id%}">Delete</a>
                    <img src="{{ contribution.contributionimage.url }}" class="card-img-top" alt="{{ contribution.user }}">
                    <div class="card-body">
                        <h5 class="card-title">@{{ contribution.user }}</h5>
                        <p class="card-text">Date Uploaded: {{ contribution.created_at }}</p>
                        
                        {% with confirmation=contribution.confirmpayment_set.first %}
                            {% if confirmation %}
                                <p class="alert-confirmation">{{ confirmation.confirm }}</p>
                            {% else %}
                                <h1>Awaiting Confirmation...</h1>
                                {% if request.user.username == 'ngozi' %}
                                    <form method="POST" action="{% url 'pictures' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="contribution_id" value="{{ contribution.id }}">
                                        <label>Confirm payment</label>
                                        <input type="text" name="confirm" required/>
                                        <input type="submit" value="confirm"/>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                       
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
