{% extends 'home.html' %}
{% block content %}
<style>
    body{
        background-color: #dd9860 ;;
    }
   
</style>
<a style="margin-left: 5px;margin-top: 5px;background-color: #005a87;color: white;" href="{% url 'home' %}" class="btn"><i class="fa fa-home" aria-hidden="true"></i>
    Home</a> 
<div class="container mt-5">
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for profile in profiles %}
                    {% if request.user == profile.user %}
                    <div style="background-color: #005a87;" class="card shadow-sm p-3 mb-5 text-white rounded">
                        <div class="card-body text-center">
                            <h2 style="font-weight: bold; font-size: 20px;" class=" p-2 rounded">
                                @{{ profile.user|capfirst }}
                            </h2>
                            <img 
                                src="{{ profile.profileimage.url }}" 
                                class="rounded-circle mb-3" 
                                width="100" height="100" 
                                alt="{{ profile.user.username }}'s profile picture"/>
                            
                            <!-- Profile details in a table -->
                            <table style="color: #005a87;" class="table  table-bordered mt-3">
                                <tbody>
                                    <tr>
                                        <th style="color: #005a87;" scope="row">FIRST NAME</th>
                                        <td style="color: #005a87;">{{ profile.firstname|upper }}</td>
                                    </tr>
                                    <tr>
                                        <th style="color: #005a87;" scope="row">LAST NAME</th>
                                        <td style="color: #005a87;">{{ profile.lastname|upper }}</td>
                                    </tr>
                                    <tr>
                                        <th style="color: #005a87;" scope="row">STATE</th>
                                        <td style="color: #005a87;">{{ profile.state|upper }}</td>
                                    </tr>
                                    <tr>
                                        <th style="color: #005a87;" scope="row">PHONE NUMBER</th>
                                        <td style="color: #005a87;">{{ profile.phonenumber }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <a style="color: #005a87;background-color: white;" href="{% url 'update-profile' profile.id %}" class="btn  mt-3">Update Profile</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
