{% extends 'home.html' %}

{% block content %}
<style>
    .container{
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .signup{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .forms{
        background-color: #005a87;;
        padding: 20px;
        color: white;
        border-radius: 20px;
    }
    .eye-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
    }
    body {
     /* Dark background color */
        color: #ffffff; /* White text color */
        font-weight: bold;
        font-size: 18px;
        padding: 20px;
        
        background-color: #dd9860 ;
    
    }
</style>
<a style="margin-left: 5px;margin-top: 5px;background-color: #005a87;color: white;" href="{% url 'home' %}" class="btn"><i class="fa fa-home" aria-hidden="true"></i>
    Home</a> 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card1">
                <form class="forms" method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <h1 class="signup">Sign-up</h1>
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <p style="font-weight: lighter;font-size: 17px;">{{ message }} <i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    {% endfor %}
                    <div class="mb-3">
                        <label style="font-size: 17px;"  class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label style="font-size: 17px;" for="exampleInputEmail1" class="form-label">Email Address</label>
                        <input type="email" class="form-control" name="email" required aria-describedby="emailHelp">
                        <div style="color: yellow" id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3 position-relative">
                        <label style="font-size: 17px;" for="exampleInputPassword1" class="form-label">Password</label>
                        <input placeholder="use special characters,numbers and alphabets" required name="password" type="password" class="form-control" id="password">
                        <i class="fa fa-eye eye-icon" id="togglePassword"></i>
                    </div>
                    <div class="mb-3 position-relative">
                        <label style="font-size: 17px;" for="exampleInputPassword2" class="form-label">Confirm Password</label>
                        <input required name="confirmpassword" type="password" class="form-control" id="confirmpassword">
                        <i class="fa fa-eye eye-icon" id="toggleConfirmPassword"></i>
                    </div>
                    <button style="background-color: #0b9ee7;;; font-weight: ; color: white;" class="btn" type="submit">sign-up</button>
                    <p style="font-size: 16px;">Already have an account? <a class="a" style="font-size: 16px; text-decoration: none; color: yellow ;" href="{% url 'loging' %}">sign-in</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
        const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
        const confirmPassword = document.querySelector('#confirmpassword');

        togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });

        toggleConfirmPassword.addEventListener('click', function () {
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    });
</script>
{% endblock %}
